@font-face {
    font-family: "Jost";
    src: url("./fonts/Jost-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: "Jost", sans-serif;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#toolbar-container {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    height: 95vh;
    width: 210px;
    overflow-y: scroll;
    display: none;
}

#toolbar {
    display: grid;
    width: 210px;
    background-color: #fff;
}

.btn {
    height: 40px;
    background-color: #333;
    color: #fff;
    border: #fff 1px solid;
}

.btn:hover {
    background-color: #000;
}

.half-btn {
    width: 50%;
}

.collapsible {
    background-color: #eee;
    color: #444;
    padding: 18px;
    border: none;
    text-transform: uppercase;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    display: none;
}

#gradient {
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, #33ccff 0%, #000 30%, #ff99cc 100%);
}

#colour-picker-holder {
    display: grid;
}

select {
    width: 100px;
}

#button-holder {
    position: absolute;
    /* left: 50%; */
    bottom: 0;
    /* transform: translate(-50%, -0%); */
    margin-bottom: 12px;
    padding: 0;
    width: 100%;
    text-align: center;
    /* display: none; */
}

.key-button {
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    width: 60px;
    height: 60px;
    margin: 5px;
    font-family: "Jost", sans-serif;
}

.key-button:hover {
    color: #333333;
    background-color: #ccc;
}

#p5_loading {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333333;
}